:root {
    --gradient-1: linear-gradient(to right bottom, #00cc00, #00cc00, #00cc00, #00cc00, #00cc00);
    --txt-color: #00cc00;
}

div.offcanvas nav ul li.btn:hover, .time-card::after, #stopwatch {
    background-image: var(--gradient-1);
}

#save-times {
    color: var(--txt-color);
}