/* Variables */
:root {
    --black-1: #1b1b1a;
    --orange-1: #FFA500;
    --gray-1: #383735;
    --gray-2: #aab7bf;
    --dark-bg-txt-color: #ddd;
    --gradient-1: linear-gradient(to right bottom, #ffa500, #fe9a00, #fc8e00, #fa8200, #f87600);
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Digital';
    src: url('../fonts/DS-DIGIB.TTF');
}

body{
    background-color: var(--black-1);
}

main {
    height: 80vh;
}

#offcanvas{
    max-width: 40%;
}

div.offcanvas-body {
    max-height: 50rem;
}

div.offcanvas nav ul li.btn{
    color: var(--dark-bg-txt-color);
    font-size: 2rem;
}

li h3 {
    font-size: 1.7rem;
}

li span{
    font-size: 4rem !important;
}

div.offcanvas nav ul li.btn:hover{
    background-size: 80%;
    background-image: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform-origin: 50%;
    transition-delay: 100ms;
}


button span{
    color: var(--dark-bg-txt-color);
}

button span:hover{
    color: var(--gray-2);
}

.time-card {
    position: relative;
    padding: 10px 20px;
    background: var(--black-1);
    margin: 5px;
    border-radius: 5px;
  }
  
  .time-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: var(--gradient-1);
  }

/* .time-card {
    border: 1px solid;
    border-radius: 20%;
    border-image: var(--gradient-1) 1;
} */

#chronometer{
    font-family: 'Digital';
    font-size: 5rem;
    background-image: var(--gradient-1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#page-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    /* background-color: var(--gray-1); */
    color: var(--dark-bg-txt-color);
}

/* #header{
} */

/* 
array de paíes map em cada um deles
*/